.navbar {
	background-color: #262424;
}

.navbar-brand {
	color: white;
}

.navbar-default {
	border: 0;
	border-radius: 0;
}

div.navbar-header a.navbar-brand {
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 2em;
}

div.navbar-header a.navbar-brand:hover {
	text-decoration: none;
	color: #ccc;
}

h1 {
	font-family: sans-serif;
	margin-bottom: 50px;
	font-weight: bold;
}

.row {
	margin: 0px;
}

.menu-item-description {
	background-color: rgba(0, 0, 0, .3);
	border-radius: 15px;
	border: 1px solid #ccc;
	padding: 15px;
	margin: 15px;
}

p.menu-item-details {
	text-align: justify;
}

h3.menu-item-title {
	text-align: center;
	font-weight: bold;
	font-size: 2em;
	font-family: inherit;
}

#nav-list {
	margin-top: 10px;
	background-color: #262424;
}

#nav-list a {
	color:  black;
	text-align: center;
}

#nav-list #menus a:hover {
	background: #93c4cc;
}

#nav-list a span {
	font-size: 1.8em;
}

#collapsable-nav a { /* Color text navbar */
	color: white;
}

